<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <h1>Wallstreet Data Analysis</h1>
    <p>Please enter a company name:</p>
    <form action="" method="post">
      <input
        autocomplete="off"
        autofocus
        name="name"
        placeholder="Company Name"
        type="text"
      />
      {% for course in courses %}
      <label>
        <input name="compnay_name" type="text" value="{{ course }}" /> {{ course }}
      </label>
      {% endfor %}
      <div>
      <input type="submit" value="Search" /></div>
    </form>
  </body>
</html>