<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis</title>
  </head>
  <body>
    <h1>Wallstreet Data Analysis </h1>
    <p1>Analysis Outputs</p1>
    <div style = "font-weight:bolder">
        {{ company }}: Sentiment Analysis: {{ sentiment }}. 

    </div>
    <div>
      Polarity score ranges from -1 to 1. A score of -1 indicates a highly negative sentiment found on r/stockmarket regarding {{company}}. A score of 1 indicates a highly positive sentiment found on r/stockmarket regarding {{company}}

    </div>
    <div style = "font-weight:bolder">
      {{ company }}: Hurst Exponent: {{ hurst }}. 
      
    </div>
    <div>
      Hurst exponent output ranges from 0 to 1. Value less than 0.5 indicates that the share price has a tendency to revert to the mean price. Value of 0.5 indicates that the share price follows a completely random walk. Value greater than 0.5 indicates that the share price is trending up or down. 

    </div>
  </body>
</html>