<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Wallstreet Data Analysis</title>
</head>

<body>
  <h1>Wallstreet Data Analysis</h1>
  <p>Please enter the following information for a publically traded company:</p>
  <form action="" method="post">
    <label for="">Company Name:
      <input autocomplete="off" autofocus name="name" placeholder="Company Name" type="text" />
    </label>
    <label for="">Ticker:
      <input autocomplete="off" autofocus name="ticker" placeholder="Ticker" type="text" />
    </label>
    <div>
      <input type="submit" value="Search" />
    </div>
  </form>
</body>

</html>